@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/* Global Style */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #201d1b;
  background-color: #f9f9f9;
}

/* !REMEMBER TO REMOVE */
/* body {
  height: 140vh;
} */

hr {
  outline: none;
  border: none;
  background-color: #201d1b;
}

/* Header Style */
#header {
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul {
  text-align: center;
  height: 65px;
}

#navbar li {
  list-style: none;
  margin: 20px auto;
  display: inline-block;
}

#navbar li a {
  text-decoration: none;
  font-size: 21px;
  margin-right: 48px;
}

#header-bottom {
  height: 4px;
  box-shadow: 0px 8px 20px 0;
}

/* Sections Style */
.seperator {
  height: 2px;
  margin: 40px 0;
  width: 256px;
}

.shadow-red {
  background-color: #ff0000;
  box-shadow: 8px 8px 20px 0px #ff0000;
}

.shadow-green {
  background-color: #00ff00;
  box-shadow: 8px 8px 20px 0px #00ff00;
}

.shadow-blue {
  background-color: #006eff;
  box-shadow: 8px 8px 20px 0px #006eff;
}

.under-header {
  height: 6px;
  margin-top: 8px;
  animation: header-under 1s ease-in-out 0s infinite alternate;
  border-radius: 56px;
}

#main {
  max-width: 1000px;
  min-width: 550px;
  /* background-color: antiquewhite; */
  margin: 120px auto;
}

#bio {
  line-height: 40px !important;
}

#cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  align-content: center;
}

.project-card {
  margin-top: 40px;
  box-shadow: 4px 8px 20px 0 #c4c4c4;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

.project-card:hover {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  box-shadow: 4px 8px 20px 0 #696969;
}

.project-card,
.project-card * {
  background-color: transparent;
}

.chars {
  margin-left: 50px;
  margin-top: 20px;
}

.chars:first-child {
  margin-top: 30px;
}

.view-code {
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 32px auto auto auto;
  background-color: #262a2a;
  color: #ffffff;
  border: none;
  outline: none;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.work-card {
  margin: 40px 0;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.work-card,
.work-card * {
  background-color: transparent;
}

.w-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Footer Style */
footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 8px 20px 0 #bbbbbb;
}

#socials {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

/* Animations */

@keyframes header-under {
  0% {
    width: 56px;
  }

  100% {
    width: 128px;
  }
}

/* Planned Stuff */
.heading-1 {
  font-size: 119px;
  line-height: 144px;
}

.heading-2 {
  font-size: 84px;
  line-height: 100px;
}

.heading-3 {
  font-size: 59px;
  line-height: 70px;
}

.heading-4 {
  font-size: 42px;
  line-height: 50px;
}

.heading-5 {
  font-size: 30px;
  line-height: 35px;
}

.paragraph {
  font-size: 21px;
  line-height: 25px;
  font-family: "Fira Sans", serif;
}

.bg-red {
  background-color: #ff0000;
}

.bg-green {
  background-color: #00ff00;
}

@media screen and (max-width: 1024px) {
  body * {
    display: none;
  }
  body::after {
    content: "Sorry! This site is under development for small screen";
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    /* width: 80%; */
  }
}
